[Unit]
Description=pidash
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/home/vlado/.nvm/versions/node/v14.4.0/bin/node server/piproxy.js
WorkingDirectory=/home/vlado/dev/piproxy
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60
User=vlado

[Install]
WantedBy=multi-user.target
