# modify this file with correct paths
# copy service configuration `sudo cp piproxy.service /etc/systemd/systemd`
# reload service configuration: 'sudo systemctl daemon-reload`
# enable service: 'sudo systemctl enable piproxy.service'
# start service: 'sudo systemctl start piproxy.service'

[Unit]
Description=piproxy
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/home/vlado/.nvm/versions/node/v14.4.0/bin/node server/piproxy.js
WorkingDirectory=/home/vlado/dev/piproxy
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60
User=vlado
StandardOutput=null

[Install]
WantedBy=multi-user.target
